body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.main {
  background-color: white;
}

.sidebar {
  background-color: rgb(244, 243, 238);
  margin-top: 3px;
  border-radius: 5px;
  border: solid rgb(207, 207, 207);
  height: 100vh;
}

.openTodoDialog, .openProjectDialog {
  display: flex;
  justify-content: center;

}

.openTodoDialog {
  margin-top: 7px;
}

#myproject-title {
  /* width: 100%; */
  /* padding-left: 12px; */
  color: rgb(99, 96, 96);
  font-weight: 550;
  padding-left: 13px;
  margin-bottom: 5px;
  font-size: 15px;
}

#openTodoDialog, #openProjectDialog {
  width: 95%;
  margin-bottom: 10px;
  border: solid rgb(207, 207, 207);
  background-color: rgb(244, 243, 238);
  border-radius: 4px;
  color: rgb(130, 130, 130);
  padding-top: 10px;
  padding-bottom: 10px;
}

#openTodoDialog {
  margin-top: 5px;
}

#openTodoDialog:hover, #openProjectDialog:hover {
  background-color: rgb(235, 62, 62);
  color: white;
  font-weight: 550;
  cursor: pointer;
  border: solid rgb(235, 62, 62);
}

/*TODO: margin right bigger than left */
#projectList {
  /* display: flex;
  flex-direction: column; */
  margin-left: 12px;
}

.project-row {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  width: 90%;
  /* padding: 5px; */
  border-radius: 4px;
}

/* .project-row, .project-item {
  padding: 5px;
  margin: 0;
} */

.project-item {
  flex-grow: 1; /* Allows it to grow and fill available space within .project-row */
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  /* margin-left: 5px; */
  padding-left: 8px;
  color: rgb(130, 130, 130);
  font-size: 13px;
}


.active-project {
  background-color: rgb(226, 225, 219);
  color: white;
  /* padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 40px; */
  /* margin-right: 5px; */
}

.delete-project {
  display: none;
  flex-grow: 0; /* Prevents the delete button from growing */
  font-size: 13px;
}

.project-row:hover .delete-project {
  display: block;
}

.delete-project {
  border: none;
  background-color: rgb(226, 225, 219);
  color: white;
  margin-right: 5px;
}

.project-row:hover {
  background-color: rgb(226, 225, 219);
  border-radius: 4px;
  /* padding: 3px 8px; */
  /* margin-left: 7px; */
}

#todoDialog {
  border: solid rgb(207, 207, 207);
  border-radius: 10px;
  width: 30%;
  height: 25vh;
  padding-bottom: 8px;
}

#newTodoTitle {
  height: 30px;
  width: 100%;
  font-weight: 550;
  border: none;
}

#newTodoTitle:focus {
  outline: none;
}

#description {
  height: 30px;
  width: 100%;
  border: none;
}

#description:focus {
  outline: none;
}

#date {
  width: 150px;
  height: 30px;
  border: none;
}

#date:focus {
  outline: none;
}

#newTodoPriority {
  width: 100px;
  height: 30px;
  border: none;
}

#newTodoPriority:focus {
  outline: none;
}


#project {
  width: 250px;
  height: 30px;
  border: none;
}

#project:focus {
  outline: none;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  padding-top: 10px; /* Add some space above the buttons */
}

#todoDialog form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#todoDialog select, #todoDialog input[type="text"], #todoDialog input[type="date"] {
  margin-bottom: 10px; /* Add some spacing between form elements */
}


#addTodo, #cancelTodo, #cancelProject {
  width: 80px;
  height: 30px;
}

#addProject {
  width: 100px;
  height: 30px;
}

#addTodo {
  background-color: rgb(235, 62, 62);
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 7px;
}

#cancelTodo {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  border: none;
}

#addTodo:hover {
  background-color: rgb(208, 58, 58);
  cursor: pointer;
}
#cancelTodo:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}



#newProjectName {
  width: 150px;
  height: 30px;
  border: none;
}

#newProjectName:focus {
  outline: none;
}

.project-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

#projectDialog {
  border: solid rgb(207, 207, 207);
  border-radius: 10px;
  width: 25%;
  height: 7vh;
}

#projectDialog form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#addProject {
  background-color: rgb(235, 62, 62);
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 7px;
}

#cancelProject {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  border: none;
}


#addProject:hover {
  background-color: rgb(208, 58, 58);
  cursor: pointer;
}
#cancelProject:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}


.project-header {
  font-size: 20px;
  margin-top: 50px;
  color: rgb(65, 65, 65);
}
#todoList {
  margin-left: 20px;
  margin-top: 10px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: solid rgb(234, 234, 234);
  width: 90%;
  border-radius: 10px;
}

.todo-item:hover {
  background-color: rgb(246, 246, 246);
}

.todo-content {
  display: flex;
  align-items: center; /* Aligns items vertically */
}

.todo-content h3, .todo-content p {
  margin-left: 10px; /* Adds spacing between checkbox and text */
}

.todo-buttons {
  display: flex;
  justify-content: flex-end; /* Positions buttons to the right */
  padding-top: 10px; /* Adds some space between content and buttons */
}

.todo-item h3 {
  color: rgb(107, 107, 107);
  font-size: 17px;
  font-weight: normal;
}

.todo-item p {
  color: rgb(154, 154, 154);
  font-size: 13px;
  padding-left: 5px;
}

.todo-item label {
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.todo-item .details {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  border: none;
  width: 50px;
  height: 30px;
}

.todo-item .delete-todo {
  background-color: rgb(235, 62, 62);
  color: white;
  border-radius: 4px;
  border: none;
  width: 50px;
  height: 30px;
  margin-left: 5px;
}

.dialog-details {
  border-radius: 10px;
  border: solid rgb(190, 190, 190);
  width: 18%;
}

.dialog-details h3 {
  color: rgb(103, 103, 103);
  font-size: 17px;
}

.dialog-details p {
  color: rgb(125, 125, 125);
  font-size: 13px;
}

.close-dialog {
  background-color: rgb(235, 62, 62);
  color: white;
  border-radius: 4px;
  border: none;
  width: 80px;
  height: 30px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.todo-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-content {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Ensures content takes up the available space, pushing buttons to the right */
}


.todo-buttons button {
  margin-left: 5px; /* Adds spacing between buttons if desired */
}


.close-dialog:hover {
  background-color: rgb(208, 58, 58);
  cursor: pointer;
}
.details:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.delete-todo:hover {
  background-color: rgb(208, 58, 58);
  cursor: pointer;
}


footer a:hover {
  color: rgb(208, 58, 58);
}

footer p, a {
  text-decoration: none;
  color: rgb(130, 130, 130);
}


footer {
  margin-top: 10px;
  background-color: rgb(244, 243, 238);
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  border: solid rgb(207, 207, 207);
}

header {
  background-color: rgb(244, 243, 238);
  width: 100vw;
  height: 10vh;
  border: solid rgb(207, 207, 207);
}

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: rgb(97, 94, 94);
  font-weight: 550;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  /* padding: 10px; */
}

.header h2 {
  margin-left: 10px;
  font-size: 30px;
}

.dark-mode {
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border: solid rgb(207, 207, 207);
  background-color: rgb(244, 243, 238);
  border-radius: 4px;
  color: rgb(130, 130, 130);
}
